{% extends 'base-admin.html' %}
{% load i18n %}
{% load carbondesign %}

{% block navigation_app %}
  {% UiNavSection %}
    {% url 'BlogPosting:Index' as url %}
    {% UiNavItem href=url %}
      {% trans "Index" %}
    {% endUiNavItem %}

    {% url 'BlogPosting:Create' as url %}
    {% UiNavItem href=url %}
      {% trans "Create" %}
    {% endUiNavItem %}

    {% url 'BlogPosting:Update' object.pk as url %}
    {% UiNavItem href=url %}
      {% trans "Edit" %}
    {% endUiNavItem %}
  
    {% url 'BlogPosting:Destroy' object.pk as url %}
    {% UiNavItem href=url %}
      {% trans "Delete" %}
    {% endUiNavItem %}
  {% endUiNavSection %}
{% endblock %}
