{% extends 'base-anon.html' %}
{% load i18n %}
{% load carbondesign website my_files %}

{% block head_title %}{{object.title}}{% endblock %}


{% block content %}
  {% Grid %}
    {% Row %}
      {% Col md=8 lg=2 xlg=3 %}{% endCol %}
      {% Col md=8 lg=8 xlg=6 class="blog-article-full" %}
        <h1>{{object.title}}</h1>
        {% if object.image %}
          {% webfile object.image classlist="blog-image" %}
        {% endif %}
        <div class="blog-meta">
          <time datetime="{{object.published_at | date:'c'}}">
            {{object.published_at | date:'l j, Y, H:i e'}}
          </time>
        </div>
        {{object.body | restify}}
      {% endCol %}
    {% endRow %}
  {% endGrid %}
{% endblock %}


{% block breadcrumb_app %}
  {% url 'BlogPosting:Display' object.slug 'html' as url %}
  {% BreadcrumbItem href=url current=True %}{{object}}{% endBreadcrumbItem %}
{% endblock %}
