{% extends 'blog_posting/base-admin-object.html' %}
{% load i18n %}
{% load carbondesign website %}

{% block head_title %}
  {% trans "Unpublish Article" %}
{% endblock %}


{% block content %}
<form action="" method="post">
  {% csrf_token %}

  <div class="form-group">
    {% trans "Do you really want to unpublish" %}: {{object}}?
  </div>

  <div class="form-group">
    {{object.summary | restify}}
  </div>

  <div class="form-group">
    {% trans "Date Created" %}: {{object.created_at | date}}
  </div>

  {% if form.errors %}
    <div class="form-group">{{form.errors}}</div>
  {% endif %}

  <div class="form-group">
    {% Button type="submit" %}
      {% trans "Unpublish" %}
    {% endButton %}
  </div>
</form>
{% endblock %}


{% block breadcrumb_app %}
  {% url 'BlogPosting:Unpublish' object.pk as url %}
  {% BreadcrumbItem href=url current=True %}{% trans "Unpublish" %}{% endBreadcrumbItem %}
{% endblock %}
