{% extends 'blog_posting/base-admin-object.html' %}
{% load i18n %}
{% load carbondesign website %}

{% block head_title %}{{object.title}}{% endblock %}


{% block content %}
  {% Grid %}
    {% Row %}
      {% Col md=8 lg=2 xlg=3 %}{% endCol %}
      {% Col md=8 lg=8 xlg=6 class="blog-article-full" %}
        <h1>{{object.title}}</h1>
        {% if object.image %}
          {% webfile object.image classlist="blog-image" %}
        {% endif %}
        {{object.body | restify}}
      {% endCol %}
    {% endRow %}
  {% endGrid %}
{% endblock %}


{% block breadcrumb %}
  {% Breadcrumb current=True %}
    {% url 'Home' as url %}
    {% BreadcrumbItem href=url %}Home{% endBreadcrumbItem %}
    {% url 'BlogPosting:Index' as url %}
    {% BreadcrumbItem href=url %}{% trans "Articles" %}{% endBreadcrumbItem %}
    {% url 'BlogPosting:Display' object.pk 'html' as url %}
    {% BreadcrumbItem href=url current=True %}{{object}}{% endBreadcrumbItem %}
  {% endBreadcrumb %}
{% endblock %}
