{% extends 'blog_posting/base-admin-object.html' %}
{% load i18n %}
{% load carbondesign website %}

{% block head_title %}{{ object.title }}{% endblock %}


{% block content %}
  {% if object.image %}
    <div class="form-group">
      <img src="{{object.get_image_url}}"
          srcset="{{object.get_html_attr_srcset}}"
          sizes="{{object.get_html_attr_sizes}}"
          class="img-responsive">
    </div>
  {% endif %}
  <h1>{{object.title}}</h1>
  <div class="form-group">
    {{object.body | restify}}
  </div>
{% endblock %}
