{% extends 'blog_posting/base-admin-object.html' %}
{% load i18n %}
{% load carbondesign %}

{% block head_title %}{% trans "Update Article" %}{% endblock %}


{% block content %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% trans "Language" as label %}
  {% ContentSwitcher label=label %}
    {% for item in LANGUAGES %}
      {% ContentSwitcherItem target=".swt-{{item.0}}" active=forloop.first type="button" %}
        {{item.1}}
      {% endContentSwitcherItem %}
    {% endfor %}
  {% endContentSwitcher %}

  {% for item in LANGUAGES %}
    <div class="form-group swt-{{item.0}}">
      {% TextInput form.title_{{item.0}} autofocus="true" label_suffix=" - {{item.1}}" %}
    </div>

    <div class="form-group swt-{{item.0}}">
      {% TextInput form.slug_{{item.0}} label_suffix=" - {{item.1}}" %}
    </div>

    <div class="form-group swt-{{item.0}}">
      {% TextArea form.body_{{item.0}} label_suffix=" - {{item.1}}" %}

      {% trans "Body Preview" as title %}
      {% Button type="button" title=title data-provide-rest-preview=form.body_{{item.0}}.id_for_label %}
        {% trans "Preview" %}
      {% endButton %}

      {% url 'EditorHelpText' 'html' as url %}
      {% Button tag="a" href=url target="_blank" %}
        {% trans "Editing Help" %}
      {% endButton %}
    </div>

    <div class="form-group swt-{{item.0}}">
      {% TextArea form.summary_{{item.0}} rows="4" class="text-editor" label_suffix=" - {{item.1}}" %}

      {% trans "Summary Preview" as title %}
      {% Button type="button" title=title data-provide-rest-preview=form.summary_{{item.0}}.id_for_label %}
        {% trans "Preview" %}
      {% endButton %}

      {% url 'EditorHelpText' 'html' as url %}
      {% Button tag="a" href=url target="_blank" %}
        {% trans "Editing Help" %}
      {% endButton %}
    </div>
  {% endfor %}

  <div class="form-group">
    {% TextInput type="file" form.image %}
  </div>

  {% if form.errors %}
    <div class="form-group">{{form.errors}}</div>
  {% endif %}

  <div class="form-group">
    {% Button type="submit" %}
      {% trans "Update" %}
    {% endButton %}
  </div>
</form>
{% endblock %}


{% block jsmodal_1 %}
  {% Modal id="modal-rest-preview" %}
    {% Slot 'heading' %}{% trans "Preview" %}{% endSlot %}
  {% endModal %}
{% endblock %}


{% block breadcrumb %}
  {% Breadcrumb current=True %}
    {% url 'Home' as url %}
    {% BreadcrumbItem href=url %}Home{% endBreadcrumbItem %}
    {% url 'BlogPosting:Index' as url %}
    {% BreadcrumbItem href=url %}{% trans "Articles" %}{% endBreadcrumbItem %}
    {% url 'BlogPosting:Display' object.slug 'html' as url %}
    {% BreadcrumbItem href=url %}{{object}}{% endBreadcrumbItem %}
    {% url 'BlogPosting:Edit' object.pk as url %}
    {% BreadcrumbItem href=url current=True %}{% trans "Update" %}{% endBreadcrumbItem %}
  {% endBreadcrumb %}
{% endblock %}
