@use 'carbon-components/src/globals/scss/typography';
@use 'carbon-components/src/globals/scss/spacing';

body > footer
{
    background-color: $ui-04;
    color: $text-04;
    padding-bottom: 3em;
    padding-top: 3em;

    a
    {
        color: $text-04;
    }
    p
    {
        line-height: 1.6;
    }
    .section
    {
        margin-bottom: 2rem;
    }
}
.footer-address-header
{
    font-size: 1.5em;
}
.footer-social-media
{
    margin-top: 2rem;

    a
    {
        margin: 1em 0.4em;
        text-decoration: none;
    }
    .icon
    {
        border: 1px solid white;
        border-radius: 50%;
        padding: 0.8rem;
    }
}
body.front-page .carousel
{
    margin-bottom: spacing.$layout-lg;
    margin-left: -3rem;
    margin-right: -3rem;
    margin-top: -2rem;

    .carousel-cell
    {
        height: 400px;
        height: 50vh;
        overflow: hidden;
        width: 100%;

        display: flex;
        //align-items: center;
        justify-content: center;

        picture
        {
            width: 100%;
        }

        img
        {
            height: 400px;
            height: 50vh;
            object-fit: cover;
            width: 100%;
        }

    }

    .text-overlay
    {
        background-color: rgba(255, 255, 255, 0.8);
        left: 10%;
        max-width: 40%;
        padding: 1em;
        position: absolute;
        top: 10%;
    }
}
body.front-page .featured-content
{
    margin-bottom: spacing.$layout-lg;
    margin-top: spacing.$layout-lg;

    h2
    {
        @include typography.type-style('productive-heading-03');
        margin-bottom: spacing.$spacing-lg;

        a
        {
            text-decoration: none;
        }
    }
    .document
    {
        @include typography.type-style('body-short-01');
    }
}
