/public/
/var/
/tmp/
/etc/production/
/etc/runner.json
/lib/uwsgi-plugins/
/public/web/assets/css/*.js
/web/db.sqlite3
/web/passenger_wsgi.py


## nodejs

/node_modules/
/package.json


## python

/.virtualenv/
/python_modules
/requirements.txt
*.pyc


## waf

/.BUILD/
/.lock-waf_*
/build.yml
/wscript
