[submodule "lib-py/frozen-django"]
	path = lib-py/frozen-django
	url = https://github.com/dozymoe/frozen-django
    shallow = true
[submodule "lib-py/django-carbondesign"]
	path = lib-py/django-carbondesign
	url = https://github.com/dozymoe/django-carbondesign
	branch = main
    shallow = true
[submodule "lib/fireh-mithril"]
	path = lib/fireh-mithril
	url = https://github.com/dozymoe/fireh-mithril
	branch = main
    shallow = true
[submodule "lib/fireh_runner"]
	path = lib/fireh_runner
	url = https://codeberg.org/dozymoe/fireh_runner
