beautifulsoup4
django
django-allauth
django-dirtyfields
django-honeypot
django-mailer
django-modeltranslation
djangorestframework
django-rest-framework-rules
django-simple-captcha
django-statici18n
django-treebeard
docutils
lxml
Pillow
python-dateutil
python-magic
rules
uwsgi
uwsgi-tasks
yarl
