aiozmq
async_timeout
bs4
chevron
django
django-allauth
django-celery
django-dirtyfields
django-honeypot
django-mailer
#django-rest-framework-rules
django-simple-captcha
django-statici18n
django-treebeard
django_translated_fields
djangorestframework
docutils
gunicorn
lxml
Pillow
psycopg2-binary
python-dateutil
python-magic
pytz
pyyaml
rules
uvicorn
uvicorn-worker
yarl
