{% extends 'base-anon.html' %}
{% load i18n %}
{% load carbondesign website %}

{% block head_title %}{{ object.title }}{% endblock %}


{% block content %}
  {% Grid %}
    {% Row %}
      {% Col md=8 lg=2 xlg=3 %}{% endCol %}
      {% Col md=8 lg=8 xlg=6 class="webpage-full" %}
        <h1>{{object.title}}</h1>
        {{object.body | restify}}
      {% endCol %}
    {% endRow %}
  {% endGrid %}
{% endblock %}


{% block breadcrumb_app %}
  {% url 'WebPage:Display' object.slug 'html' as url %}
  {% BreadcrumbItem href=url current=True %}{{object}}{% endBreadcrumbItem %}
{% endblock %}
