{% extends 'web_page/base-admin-object.html' %}
{% load i18n %}
{% load carbondesign website %}

{% block head_title %}{{ object.title }}{% endblock %}


{% block content %}
  {% Grid %}
    {% Row %}
      {% Col md=8 lg=2 xlg=3 %}{% endCol %}
      {% Col md=8 lg=8 xlg=6 %}
        {{ object.body | restify }}
      {% endCol %}
    {% endRow %}
  {% endGrid %}
{% endblock %}


{% block breadcrumb %}
  {% Breadcrumb current=True %}
    {% url 'Home' as url %}
    {% BreadcrumbItem href=url %}Home{% endBreadcrumbItem %}
    {% url 'WebPage:Index' as url %}
    {% BreadcrumbItem href=url %}{% trans "Pages" %}{% endBreadcrumbItem %}
    {% url 'WebPage:Display' object.pk 'html' as url %}
    {% BreadcrumbItem href=url current=True %}{{object}}{% endBreadcrumbItem %}
  {% endBreadcrumb %}
{% endblock %}
