{% extends 'web_page/base-admin.html' %}
{% load i18n %}
{% load carbondesign website %}

{% block head_title %}{% trans "Manage Pages" %}{% endblock %}


{% block content %}
  <div>
    <p>{% trans "Linking pages in your articles. Example:" %}</p>
    <pre><code>Text in paragraph :webpage:`4` next text in paragraph </code></pre>
    <pre><code>Text in paragraph :webpage:`replace text with this &lt;4&gt;` next text in paragraph</code></pre>
    <p>{% trans "The number <strong>4</strong> is from the ID column below." %}</p>
  </div>
  
  <div>
    {% Table visible_overflow=True %}
      {% Slot 'title' %}
        {% trans "Pages" %}
      {% endSlot %}
  
      {% Slot 'toolbar_actions' %}
        {% url 'WebPage:Create' as url %}
        {% Button astag="a" href=url icon_size=32 %}
          {% Slot 'icon' %}
            {% svg 'carbon/32/add.svg' %}
          {% endSlot %}
  
          {% trans "Create Page" %}
        {% endButton %}
      {% endSlot %}

      {% Slot 'pagination' %}
        {% Pagination pager=page_obj %}
      {% endSlot %}

      {% Slot 'head' %}
        <tr>
          {% Th %}
            {% trans "ID" %}
          {% endTh %}
          {% Th %}
            {% trans "Title" %}
          {% endTh %}
          {% Th %}
            {% trans "Status" %}
          {% endTh %}
          {% Th mode="menu" %}{% endTh %}
        </tr>
      {% endSlot %}
  
      {% for obj in object_list %}
        <tr>
          {% Td %}{{obj.pk}}{% endTd %}

          {% Td %}
            {% url 'WebPage:Display' obj.pk 'html' as url %}
            <a href="{{url}}">{{obj}}</a>
          {% endTd %}

          {% Td %}
            {% if obj.published_at %}
              {% trans "Published" %}
            {% else %}
              {% trans "Not Published" %}
            {% endif %}
          {% endTd %}

          {% Td mode="menu" %}
            {% url 'WebPage:Update' obj.pk as url %}
            {% TdOvButton astag="a" href=url %}
              {% Slot 'icon' %}
                {% svg 'carbon/32/edit.svg' %}
              {% endSlot %}
              {% trans "Edit" %}
            {% endTdOvButton %}

            {% if obj.published_at %}
              {% url 'WebPage:Unpublish' obj.pk as url %}
              {% trans "Unpublish"  as label %}
            {% else %}
              {% url 'WebPage:Publish' obj.pk as url %}
              {% trans "Publish" as label %}
            {% endif %}
            {% TdOvButton astag="a" href=url %}
              {% Slot 'icon' %}
                {% if obj.published_at %}
                  {% svg 'carbon/16/view--off.svg' %}
                {% else %}
                  {% svg 'carbon/16/view.svg' %}
                {% endif %}
              {% endSlot %}
              {{label}}
            {% endTdOvButton %}

            {% url 'WebPage:Destroy' obj.pk as url %}
            {% TdOvButton astag="a" href=url %}
              {% Slot 'icon' %}
                {% svg 'carbon/32/trash-can.svg' %}
              {% endSlot %}
              {% trans "Delete" %}
            {% endTdOvButton %}
          {% endTd %}
        </tr>
      {% endfor %}
    {% endTable %}
  </div>
{% endblock %}


{% block breadcrumb %}
  {% Breadcrumb current=True %}
    {% url 'Home' as url %}
    {% BreadcrumbItem href=url %}Home{% endBreadcrumbItem %}
    {% url 'WebPage:Index' as url %}
    {% BreadcrumbItem href=url current=True %}{% trans "Pages" %}{% endBreadcrumbItem %}
  {% endBreadcrumb %}
{% endblock %}
