{% extends 'blog_posting/base-admin.html' %}
{% load i18n %}
{% load carbondesign website %}

{% block head_title %}{% trans "Manage Featured Contents" %}{% endblock %}


{% block content %}
  {% Table visible_overflow=True %}
    {% Slot 'title' %}
      {% trans "Featured Contents" %}
    {% endSlot %}

    {% Slot 'toolbar_actions' %}
      {% url 'FrontContent:Create' as url %}
      {% Button tag="a" href=url icon_size=32 %}
        {% Slot 'icon' %}
          {% svg 'carbon/32/add.svg' %}
        {% endSlot %}

        {% trans "Create Featured Content" %}
      {% endButton %}
    {% endSlot %}

    {% Slot 'pagination' %}
      {% Pagination pager=page_obj %}
    {% endSlot %}

    {% Slot 'head' %}
      <tr>
        {% Th %}
          {% trans "ID" %}
        {% endTh %}
        {% Th %}
          {% trans "Title" %}
        {% endTh %}
        {% Th %}
          {% trans "Summary" %}
        {% endTh %}
        {% Th mode="menu" %}{% endTh %}
      </tr>
    {% endSlot %}

    {% for obj in object_list %}
      <tr>
        {% Td %}{{obj.pk}}{% endTd %}

        {% Td %}
          {{obj}}
        {% endTd %}

        {% Td %}
          {{obj.content.summary | restify}}
        {% endTd %}

        {% Td mode="menu" %}
          {% url 'FrontContent:Destroy' obj.pk as url %}
          {% TdOvButton tag="a" href=url %}
            {% Slot 'icon' %}
              {% svg 'carbon/32/trash-can.svg' %}
            {% endSlot %}
            {% trans "Delete" %}
          {% endTdOvButton %}

          {% with request.get_full_path|urlencode as nexturl %}
            {% url 'FrontContent:MoveFirst' obj.pk as baseurl %}
            {% with baseurl|add:'?next='|add:nexturl as url %}
              {% TdOvButton tag="a" href=url %}
                {% Slot 'icon' %}
                  {% svg 'carbon/32/up-to-top.svg' %}
                {% endSlot %}
                {% trans "Move First" %}
              {% endTdOvButton %}
            {% endwith %}

            {% url 'FrontContent:MoveUp' obj.pk as baseurl %}
            {% with baseurl|add:'?next='|add:nexturl as url %}
              {% TdOvButton tag="a" href=url %}
                {% Slot 'icon' %}
                  {% svg 'carbon/32/chevron--up.svg' %}
                {% endSlot %}
                {% trans "Move Up" %}
              {% endTdOvButton %}
            {% endwith %}

            {% url 'FrontContent:MoveDown' obj.pk as baseurl %}
            {% with baseurl|add:'?next='|add:nexturl as url %}
              {% TdOvButton tag="a" href=url %}
                {% Slot 'icon' %}
                  {% svg 'carbon/32/chevron--down.svg' %}
                {% endSlot %}
                {% trans "Move Down" %}
              {% endTdOvButton %}
            {% endwith %}

            {% url 'FrontContent:MoveLast' obj.pk as baseurl %}
            {% with baseurl|add:'?next='|add:nexturl as url %}
              {% TdOvButton tag="a" href=url %}
                {% Slot 'icon' %}
                  {% svg 'carbon/32/down-to-bottom.svg' %}
                {% endSlot %}
                {% trans "Move Last" %}
              {% endTdOvButton %}
            {% endwith %}
          {% endwith %}
        {% endTd %}
      </tr>
    {% endfor %}
  {% endTable %}
{% endblock %}


{% block breadcrumb %}
  {% Breadcrumb current=True %}
    {% url 'Home' as url %}
    {% BreadcrumbItem href=url %}Home{% endBreadcrumbItem %}
    {% url 'FrontContent:Index' as url %}
    {% BreadcrumbItem href=url current=True %}{% trans "Featured" %}{% endBreadcrumbItem %}
  {% endBreadcrumb %}
{% endblock %}
