{% extends 'blog_posting/base-admin.html' %}
{% load i18n %}
{% load carbondesign %}

{% block head_title %}
  {% trans "Create Featured Content" %}
{% endblock %}


{% block content %}
  <form action="" method="post">
    {% csrf_token %}

    <div class="form-group input-button-pairing">
      <input type="hidden" name="content" id="content">
      {% TextInput form.content widget="input" id="content-caption" name="" readonly="" %}

      {% Button field=True type="button" data-provide-select_page="content" data-select_page-label="content-caption" %}
        {% trans "Choose" %}
      {% endButton %}
    </div>
  
    {% if form.errors %}
      <div class="form-group">{{form.errors}}</div>
    {% endif %}
  
    <div class="form-group">
      {% Button type="submit" %}
        {% trans "Submit" %}
      {% endButton %}
    </div>
  </form>
{% endblock %}


{% block breadcrumb_app %}
  {% url 'FrontContent:Create' as url %}
  {% BreadcrumbItem href=url current=True %}{% trans "Create" %}{% endBreadcrumbItem %}
{% endblock %}
