{% extends 'blog_posting/base-admin.html' %}
{% load i18n %}
{% load carbondesign website %}

{% block head_title %}{% trans "Manage Featured Contents" %}{% endblock %}


{% block content %}
  {% iif is_paginated pager None as pager %}
  {% Table pager=pager %}
    {% Slot 'title' %}
      {% trans "Featured Contents" %}
    {% endSlot %}

    {% Slot 'toolbar' %}
      {% url 'FrontContent:Create' as url %}
      {% Button tag="a" href=url icon_size=32 %}
        {% Slot 'icon' %}
          <path d="M17 15L17 7 15 7 15 15 7 15 7 17 15 17 15 25 17 25 17 17 25 17 25 15 17 15z"></path>
        {% endSlot %}

        {% trans "Create Featured Content" %}
      {% endButton %}
    {% endSlot %}

    {% Slot 'head' %}
      <tr>
        {% Th %}
          {% trans "ID" %}
        {% endTh %}
        {% Th %}
          {% trans "Title" %}
        {% endTh %}
        {% Th %}
          {% trans "Summary" %}
        {% endTh %}
        {% Th mode="menu" %}{% endTh %}
      </tr>
    {% endSlot %}

    {% for obj in object_list %}
      <tr>
        {% Td %}{{obj.pk}}{% endTd %}

        {% Td %}
          {{obj}}
        {% endTd %}

        {% Td %}
          {{obj.content.summary | restify}}
        {% endTd %}

        {% Td mode="menu" %}
          {% url 'FrontContent:Destroy' obj.pk as url %}
          {% TdOvButton tag="a" href=url %}
            {% Slot 'icon' %}
              <path d="M6 6H7V12H6zM9 6H10V12H9z"></path>
              <path d="M2 3v1h1v10c0 .6.4 1 1 1h8c.6 0 1-.4 1-1V4h1V3H2zM4 14V4h8v10H4zM6 1H10V2H6z"></path>
            {% endSlot %}
            {% trans "Delete" %}
          {% endTdOvButton %}

          {% with request.get_full_path|urlencode as nexturl %}
            {% url 'FrontContent:MoveFirst' obj.pk as baseurl %}
            {% with baseurl|add:'?next='|add:nexturl as url %}
              {% TdOvButton tag="a" href=url %}
                {% Slot 'icon' %}
                  <path d="M3.7 6.7L7.5 2.9 7.5 15 8.5 15 8.5 2.9 12.3 6.7 13 6 8 1 3 6z"/>
                {% endSlot %}
                {% trans "Move First" %}
              {% endTdOvButton %}
            {% endwith %}

            {% url 'FrontContent:MoveUp' obj.pk as baseurl %}
            {% with baseurl|add:'?next='|add:nexturl as url %}
              {% TdOvButton tag="a" href=url %}
                {% Slot 'icon' %}
                  <path d="M8 5L13 10 12.3 10.7 8 6.4 3.7 10.7 3 10z"/>
                {% endSlot %}
                {% trans "Move Up" %}
              {% endTdOvButton %}
            {% endwith %}

            {% url 'FrontContent:MoveDown' obj.pk as baseurl %}
            {% with baseurl|add:'?next='|add:nexturl as url %}
              {% TdOvButton tag="a" href=url %}
                {% Slot 'icon' %}
                  <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"/>
                {% endSlot %}
                {% trans "Move Down" %}
              {% endTdOvButton %}
            {% endwith %}

            {% url 'FrontContent:MoveLast' obj.pk as baseurl %}
            {% with baseurl|add:'?next='|add:nexturl as url %}
              {% TdOvButton tag="a" href=url %}
                {% Slot 'icon' %}
                  <path d="M12.3 9.3L8.5 13.1 8.5 1 7.5 1 7.5 13.1 3.7 9.3 3 10 8 15 13 10z"/>
                {% endSlot %}
                {% trans "Move Last" %}
              {% endTdOvButton %}
            {% endwith %}
          {% endwith %}
        {% endTd %}
      </tr>
    {% endfor %}
  {% endTable %}
{% endblock %}
