.appbar-logo
{
    //vertical-align: middle;
    margin: 1em;
}

.bx--header
{
    background-color: $ui-04;
}

body > footer
{
    background-color: $ui-04;
    color: $text-04;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-top: 1em;

    a
    {
        color: $text-04;
    }
}

.bx--breadcrumb
{
    margin-bottom: 2rem;
}
