{% extends "base_drawer.html" %}
{% load i18n %}
{% load materialweb %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}


{% block topbar_left %}
  {% url 'account_login' as url %}
  {% trans "Sign In" as url %}
  {% IconButton tag="a" href=url label=label class="material-icons" %}
    arrow_back
  {% endIconButton %}

  {% TopAppBar_Title tag="h1" %}
    {% trans "Account Inactive" %}
  {% endTopAppBar_Title %}
{% endblock %} 


{% block content %}
<div class="mdc-layout-grid__cell--span-12">
  <p>{% trans "This account is inactive." %}</p>
</div>
{% endblock %}
