{% extends "base_drawer-admin.html" %}
{% load i18n %}
{% load account %}
{% load materialweb %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}


{% block topbar_left %}
  {% if user.is_authenticated %}
    {% url 'Home' as url %}
    {% trans "Home Page" as label %}
    {% IconButton tag="a" href=url label=label class="material-icons" %}
      arrow_back
    {% endIconButton %}

  {% else %}
    {% url 'account_login' as url %}
    {% trans "Sign In" as label %}
    {% IconButton tag="a" href=url label=label class="material-icons" %}
      arrow_back
    {% endIconButton %}
  {% endif %}
{% endblock %} 


{% block content %}
<div class="mdc-layout-grid__cell--span-12">
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>
    {% blocktrans %}
      We have sent you an e-mail. Please contact us if you do not receive it
      within a few minutes.
    {% endblocktrans %}
  </p>
</div>
{% endblock %}
