{% extends "base-admin.html" %}
{% load i18n %}
{% load account %}
{% load carbondesign %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}


{% block content %}
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>
    {% blocktrans %}
      Forgotten your password? Enter your e-mail address below, and we'll
      send you an e-mail allowing you to reset it.
    {% endblocktrans %}
  </p>

  <form method="POST" action="" class="password_reset">
    {% csrf_token %}

    <div class="form-group">
      {% TextInput form.email %}
    </div>

    {{form.errors}}

    {% Button type="submit" %}
      {% trans 'Reset My Password' %}
    {% endButton %}
  </form>

  <p>
    {% blocktrans %}
      Please contact us if you have any trouble resetting your password.
    {% endblocktrans %}
  </p>
{% endblock %}
