{% extends "base_drawer.html" %}
{% load i18n %}
{% load materialweb %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}


{% block topbar_left %}
  {% url 'account_login' as url %}
  {% trans "Sign In" as label %}
  {% IconButton tag="a" href=url label=label class="material-icons" %}
    arrow_back
  {% endIconButton %}

  {% TopAppBar_Title tag="h1" %}
    {% trans "Set Password" %}
  {% endTopAppBar_Title %}
{% endblock %} 


{% block content %}
<div class="mdc-layout-grid__cell--span-12">
  <form method="POST" action="" class="password_set">
    {% csrf_token %}

    <div class="form-group">
      {% TextField form.password1 mode="outlined" %}
    </div>

    <div class="form-group">
      {% TextField form.password2 mode="outlined" %}
    </div>

    {{form.errors}}

    {% Button type="submit" mode="raised" name="action" %}
      {% trans 'Set Password' %}
    {% endButton %}
  </form>
</div>
{% endblock %}
