{% extends "base-admin.html" %}
{% load i18n %}
{% load carbondesign %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}


{% block content %}
  <form method="POST" action="" class="password_set">
    {% csrf_token %}

    <div class="form-group">
      {% TextField form.password1 %}
    </div>

    <div class="form-group">
      {% TextField form.password2 %}
    </div>

    {{form.errors}}

    {% Button type="submit" name="action" %}
      {% trans 'Set Password' %}
    {% endButton %}
  </form>
{% endblock %}
