{% extends "base-admin.html" %}
{% load i18n %}
{% load carbondesign %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}


{% block content %}
  <p>
    {% blocktrans %}
      Already have an account? Then please
      <a href="{{ login_url }}">sign in</a>.
    {% endblocktrans %}
  </p>

  <form class="signup" id="signup_form" method="post">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}" />
    {% endif %}

    <div class="form-group">
      {% TextInput form.email %}
    </div>
    <div class="form-group">
      {% TextInput form.username %}
    </div>
    <div class="form-group">
      {% TextInput form.password1 %}
    </div>
    <div class="form-group">
      {% TextInput form.password2 %}
    </div>

    {{form.errors}}

    {% Button type="submit" %}
      {% trans "Sign Up" %} &raquo;
    {% endButton %}
  </form>
{% endblock %}
