{% extends 'base-admin.html' %}
{% load i18n %}
{% load carbondesign %}

{% block navigation_app %}
  {% UiNavSection %}
    {% url 'Event:Index' as url %}
    {% UiNavItem href=url %}
      {% trans "Index" %}
    {% endUiNavItem %}

    {% url 'Event:Create' as url %}
    {% UiNavItem href=url %}
      {% trans "Create" %}
    {% endUiNavItem %}

    {% url 'Event:Update' object.pk as url %}
    {% UiNavItem href=url %}
      {% trans "Edit" %}
    {% endUiNavItem %}

    {% url 'Event:Destroy' object.pk as url %}
    {% UiNavItem href=url %}
      {% trans "Delete" %}
    {% endUiNavItem %}
  {% endUiNavSection %}
{% endblock %}


{% block breadcrumb %}
  {% Breadcrumb current=True %}
    {% url 'Home' as url %}
    {% BreadcrumbItem href=url %}Home{% endBreadcrumbItem %}
    {% url 'Event:Index' as url %}
    {% BreadcrumbItem href=url %}{% trans "Events" %}{% endBreadcrumbItem %}
    {% url 'Event:Display' object.pk 'html' as url %}
    {% BreadcrumbItem href=url %}{{object}}{% endBreadcrumbItem %}

    {% block breadcrumb_app %}{% endblock %}
  {% endBreadcrumb %}
{% endblock %}
