{% extends 'my_event/base-admin-object.html' %}
{% load i18n %}
{% load carbondesign website %}

{% block head_title %}{{object.title}}{% endblock %}


{% block content %}
  <h1>{{object.title}}</h1>
  <div class="form-group">
    {{object.body | restify}}
  </div>
{% endblock %}


{% block breadcrumb %}
  {% Breadcrumb current=True %}
    {% url 'Home' as url %}
    {% BreadcrumbItem href=url %}Home{% endBreadcrumbItem %}
    {% url 'Event:Index' as url %}
    {% BreadcrumbItem href=url %}{% trans "Events" %}{% endBreadcrumbItem %}
    {% url 'Event:Display' object.pk 'html' as url %}
    {% BreadcrumbItem href=url current=True %}{{object}}{% endBreadcrumbItem %}
  {% endBreadcrumb %}
{% endblock %}
