{% extends 'base-admin.html' %}
{% load i18n %}
{% load carbondesign %}

{% block navigation_app %}
  {% url 'MySlide:Index' as url %}
  {% UiNavItem href=url %}
    {% trans "Index" %}
  {% endUiNavItem %}

  {% url 'MySlide:Create' as url %}
  {% UiNavItem href=url %}
    {% trans "Create" %}
  {% endUiNavItem %}

  {% url 'MySlide:Destroy' object.pk as url %}
  {% UiNavItem href=url %}
    {% trans "Delete" %}
  {% endUiNavItem %}
{% endblock %}


{% block breadcrumb %}
  {% Breadcrumb current=True %}
    {% url 'Home' as url %}
    {% BreadcrumbItem href=url %}Home{% endBreadcrumbItem %}
    {% url 'MySlide:Index' as url %}
    {% BreadcrumbItem href=url %}{% trans "Slides" %}{% endBreadcrumbItem %}
    {% url 'MySlide:Display' object.slug 'html' as url %}
    {% BreadcrumbItem href=url %}{{object}}{% endBreadcrumbItem %}

    {% block breadcrumb_app %}{% endblock %}
  {% endBreadcrumb %}
{% endblock %}
