{% extends 'base-admin.html' %}
{% load i18n %}
{% load carbondesign %}

{% block navigation_app %}
  {% UiNavSection %}
    {% url 'MySlide:Index' as url %}
    {% UiNavItem href=url %}
      {% trans "Index" %}
    {% endUiNavItem %}

    {% url 'MySlide:Create' as url %}
    {% UiNavItem href=url %}
      {% trans "Create" %}
    {% endUiNavItem %}
  {% endUiNavSection %}
{% endblock %}


{% block breadcrumb %}
  {% Breadcrumb current=True %}
    {% url 'Home' as url %}
    {% BreadcrumbItem href=url %}Home{% endBreadcrumbItem %}
    {% url 'MySlide:Index' as url %}
    {% BreadcrumbItem href=url %}{% trans "Slides" %}{% endBreadcrumbItem %}

    {% block breadcrumb_app %}{% endblock %}
  {% endBreadcrumb %}
{% endblock %}
