{% extends 'my_slide/base-admin.html' %}
{% load i18n %}
{% load carbondesign website %}

{% block head_title %}{% trans "Manage Slides" %}{% endblock %}


{% block content %}
  {% iif is_paginated pager None as pager %}
  {% Table %}
    {% Slot 'title' %}
      {% trans "Slides" %}
    {% endSlot %}

    {% Slot 'toolbar' %}
      {% url 'MySlide:Create' as url %}
      {% Button tag="a" href=url icon_size=32 %}
        {% Slot 'icon' %}
          {% svg 'carbon/32/add.svg' %}
        {% endSlot %}

        {% trans "Create Slide" %}
      {% endButton %}
    {% endSlot %}

    {% Slot 'head' %}
      <tr>
        {% Th %}
          {% trans "location" %}
        {% endTh %}
        {% Th %}
          {% trans "Filename" %}
        {% endTh %}
        {% Th mode="menu" %}{% endTh %}
      </tr>
    {% endSlot %}

    {% for obj in object_list %}
      <tr>
        {% Td %}
          {{obj.get_location_display}}
        {% endTd %}

        {% Td %}
          {% Link href=obj.image.get_absolute_url %}
            {{obj.image.description | restify}}
          {% endLink %}
        {% endTd %}

        {% Td mode="menu" %}
          {% url 'MySlide:Update' obj.pk as url %}
          {% TdOvButton tag="a" href=url %}
            {% Slot 'icon' %}
              {% svg 'carbon/32/edit.svg' %}
            {% endSlot %}
            {% trans "Edit" %}
          {% endTdOvButton %}

          {% url 'MySlide:Destroy' obj.pk as url %}
          {% TdOvButton tag="a" href=url %}
            {% Slot 'icon' %}
              {% svg 'carbon/32/trash-can.svg' %}
            {% endSlot %}
            {% trans "Delete" %}
          {% endTdOvButton %}

          {% with request.get_full_path|urlencode as nexturl %}
            {% url 'MySlide:MoveFirst' obj.pk as baseurl %}
            {% with baseurl|add:'?next='|add:nexturl as url %}
              {% TdOvButton tag="a" href=url %}
                {% Slot 'icon' %}
                  {% svg 'carbon/32/up-to-top.svg' %}
                {% endSlot %}
                {% trans "Move First" %}
              {% endTdOvButton %}
            {% endwith %}

            {% url 'MySlide:MoveUp' obj.pk as baseurl %}
            {% with baseurl|add:'?next='|add:nexturl as url %}
              {% TdOvButton tag="a" href=url %}
                {% Slot 'icon' %}
                  {% svg 'carbon/32/chevron--up.svg' %}
                {% endSlot %}
                {% trans "Move Up" %}
              {% endTdOvButton %}
            {% endwith %}

            {% url 'MySlide:MoveDown' obj.pk as baseurl %}
            {% with baseurl|add:'?next='|add:nexturl as url %}
              {% TdOvButton tag="a" href=url %}
                {% Slot 'icon' %}
                  {% svg 'carbon/32/chevron--down.svg' %}
                {% endSlot %}
                {% trans "Move Down" %}
              {% endTdOvButton %}
            {% endwith %}

            {% url 'MySlide:MoveLast' obj.pk as baseurl %}
            {% with baseurl|add:'?next='|add:nexturl as url %}
              {% TdOvButton tag="a" href=url %}
                {% Slot 'icon' %}
                  {% svg 'carbon/32/down-to-bottom.svg' %}
                {% endSlot %}
                {% trans "Move Last" %}
              {% endTdOvButton %}
            {% endwith %}
          {% endwith %}
        {% endTd %}
      </tr>
    {% endfor %}
  {% endTable %}
{% endblock %}
