{% extends 'my_slide/base-admin.html' %}
{% load i18n %}
{% load carbondesign website %}

{% block head_title %}{% trans "Manage Slides" %}{% endblock %}


{% block content %}
  <div>
    {% iif is_paginated pager None as pager %}
    {% Table %}
      {% Slot 'title' %}
        {% trans "Slides" %}
      {% endSlot %}

      {% Slot 'toolbar' %}
        {% url 'MySlide:Create' as url %}
        {% Button tag="a" href=url icon_size=32 %}
          {% Slot 'icon' %}
            <path d="M17 15L17 7 15 7 15 15 7 15 7 17 15 17 15 25 17 25 17 17 25 17 25 15 17 15z"></path>
          {% endSlot %}
  
          {% trans "Create Slide" %}
        {% endButton %}
      {% endSlot %}

      {% Slot 'head' %}
        <tr>
          {% Th %}
            {% trans "location" %}
          {% endTh %}
          {% Th %}
            {% trans "Filename" %}
          {% endTh %}
          {% Th mode="menu" %}{% endTh %}
        </tr>
      {% endSlot %}
  
      {% for obj in object_list %}
        <tr>
          {% Td %}
            {{ obj.location }}
          {% endTd %}

          {% Td %}
            {{ obj.image.databits.name }}
          {% endTd %}

          {% Td mode="menu" %}
            {% comment %}
            {% url 'MySlide:Edit' obj.pk as url %}
            {% TdOvButton tag="a" href=url %}
              {% Slot 'icon' %}
                <path d="M1 13H15V14H1zM12.7 4.5c.4-.4.4-1 0-1.4 0 0 0 0 0 0l-1.8-1.8c-.4-.4-1-.4-1.4 0 0 0 0 0 0 0L2 8.8V12h3.2L12.7 4.5zM10.2 2L12 3.8l-1.5 1.5L8.7 3.5 10.2 2zM3 11V9.2l5-5L9.8 6l-5 5H3z"></path>
              {% endSlot %}
              {% trans "Edit" %}
            {% endTdOvButton %}
            {% endcomment %}

            {% url 'MySlide:Destroy' obj.pk as url %}
            {% TdOvButton tag="a" href=url %}
              {% Slot 'icon' %}
                <path d="M6 6H7V12H6zM9 6H10V12H9z"></path>
                <path d="M2 3v1h1v10c0 .6.4 1 1 1h8c.6 0 1-.4 1-1V4h1V3H2zM4 14V4h8v10H4zM6 1H10V2H6z"></path>
              {% endSlot %}
              {% trans "Delete" %}
            {% endTdOvButton %}
          {% endTd %}
        </tr>
      {% endfor %}
    {% endTable %}
  </div>
{% endblock %}
