{% extends "base-anon.html" %}
{% load i18n %}
{% load carbondesign website %}

{% block body_classes %}front-page{% endblock %}


{% block content %}
  {% if events %}
    <div class="front-events">
      {% Grid full_width=True %}
        {% Row %}
          {% Col sm=4 md=8 class="front-section-header" %}
            <h2>{% trans "Upcoming Events" %}</h2>
          {% endCol %}

          {% Col sm=4 md=8 %}
            {% Row astag="ul" %}
              {% for obj in events %}
                {% Col sm=4 md=4 xlg=4 astag="li" role="article" %}
                  <strong>
                    <time datetime="{{obj.started_at}}">
                      {{ obj.started_at | date:'j F H:i' }}
                    </time>
                  </strong>
                  {% if obj.stopped_at %}
                    -
                    <time datetime="{{obj.stopped_at}}">
                      {{ obj.stopped_at | date:'j F H:i' }}
                    </time>
                  {% endif %}
                  <strong>{{obj.started_at | date:'Y'}}</strong>
                  <hr>
                  <a href="{{obj.get_absolute_url}}">
                    <h3>{{obj.title}}</h3>
                  </a>
                  {{ obj.summary | restify }}
                {% endCol %}
              {% endfor %}
            {% endRow %}
          {% endCol %}
        {% endRow %}
      {% endGrid %}
    </div>
  {% endif %}

  {% if blogposts %}
    <div class="front-blog-posts">
      {% Grid full_width=True %}
        {% Row %}
          {% Col sm=4 md=8 lg=4 xlg=3 class="front-section-header" %}
            <h2>{% trans "Recent News" %}</h2>
          {% endCol %}
          {% Col sm=4 md=8 lg=8 xlg=6 %}
            {% Row astag="ul" %}
              {% for obj in blogposts %}
                {% Col sm=4 md=4 astag="li" role="article" %}
                  {% if obj.image %}
                    <img src="{{obj.image.get_absolute_url}}"
                        srcset="{{obj.image.get_html_attr_srcset}}"
                        sizes="{{obj.image.get_html_attr_sizes}}"
                        class="img-responsive">
                  {% endif %}
                  <a href="{{obj.get_absolute_url}}" class="front-blog-summary">
                    <div>
                      <h3>{{obj}}</h3>
                      <div class="front-blog-summary-pop">
                        {{ obj.summary | restify }}
                      </div>
                    </div>
                  </a>
                {% endCol %}
              {% endfor %}
            {% endRow %}
          {% endCol %}
        {% endRow %}
      {% endGrid %}
    </div>
  {% endif %}
{% endblock %}


{% block banner %}
  {% if slides %}
    <div class="carousel" data-flickity='{"lazyLoad":true, "autoPlay":true, "fade":true}'>
      {% for slide in slides %}
        <div class="carousel-cell">
          <img data-flickity-lazyload="{{slide.image.get_absolute_url}}"
              srcset="{{slide.image.get_html_attr_srcset}}"
              sizes="{{slide.image.get_html_attr_sizes}}"
              alt="{{slide.image.alt_text}}" />
          {% if slide.description %}
            <div class="text-overlay">
              {{slide.description | restify}}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if front_contents %}
    {% Grid class="featured-content" %}
      {% Row %}
        {% for content in front_contents %}
          {% Col lg=4 %}
            <h2>
              <a href="{{content.content.get_absolute_url}}">
                {{content.content.title}}
              </a>
            </h2>
            {{content.content.summary | restify}}
          {% endCol %}
        {% endfor %}
      {% endRow %}
    {% endGrid %}
  {% endif %}
{% endblock %}
