{% extends "base_drawer.html" %}
{% load i18n %}
{% load materialweb website web_page %}

{% block content %}
<section class="mdc-layout-grid__cell--span-12">
  <h2>{% trans "Latest News" %}</h2>
  <ul class="front-blog-posts">
    {% for obj in blogposts %}
      <li role="article">
        <h3>
          <a href="{% url 'BlogPosting:Display' obj.slug 'html' %}">
            {{ obj.title }}
          </a>
        </h3>
        {{ obj.summary | restify }}

        <footer>
          <p>
            {% trans "Posted on" %}
            <time datetime="{{ obj.published_at }}">
              {{ obj.published_at | date:'j F' }}
            </time>
            {% trans "by" %}
            {{ obj.created_by.username }}.
          </p>
        </footer>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}


{% block drawer %}
  {% webpage_url 2 as url %}
  {% List_Item tag="a" href=url tabindex="0" %}
    {% List_Text %}
      {% trans "Profile" %}
    {% endList_Text %}
  {% endList_Item %}

  {% List_Item tag="a" href="#" tabindex="1" %}
    {% List_Text %}
      {% trans "Kegiatan" %}
    {% endList_Text %}
  {% endList_Item %}

  {% webpage_url 1 as url %}
  {% List_Item tag="a" href=url tabindex="2" %}
    {% List_Text %}
      {% trans "PPDB" %}
    {% endList_Text %}
  {% endList_Item %}
{% endblock %}


{% block drawer_menu_website %}
  {% List_Item tag="a" href="/contact-us" tabindex="3" %}
    {% List_Text %}
      {% trans "Contact Us" %}
    {% endList_Text %}
  {% endList_Item %}
{% endblock %}
