{% extends "base-anon.html" %}
{% load i18n %}
{% load carbondesign website %}

{% block content %}
  <h2>{% trans "Latest News" %}</h2>
  <ul class="front-blog-posts">
    {% for obj in blogposts %}
      <li role="article">
        {{ obj.summary | restify }}
        <p>
          <a href="{% url 'BlogPosting:Display' obj.slug 'html' %}">
            {% trans "Read more" %}
          </a>
        </p>
        <footer>
          <p>
            {% trans "Posted on" %}
            <time datetime="{{ obj.published_at }}">
              {{ obj.published_at | date:'j F' }}
            </time>.
          </p>
        </footer>
      </li>
    {% endfor %}
  </ul>
{% endblock %}


{% block banner %}
  {% if slides %}
    <div class="carousel"
        data-flickity='{"lazyLoad":true, "autoPlay":true, "wrapAround":true}'>
      {% for slide in slides %}
        <div class="carousel-cell">
          <img data-flickity-lazyload="{{slide.image.get_absolute_url}}"
              srcset="{{slide.image.get_html_attr_srcset}}"
              sizes="{{slide.image.get_html_attr_sizes}}"
              alt="{{slide.description}}" class="carousel-cell-imagea" />
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if front_contents %}
    {% Grid class="featured-content" %}
      {% Row %}
        {% for content in front_contents %}
          {% Col lg=4 %}
            <h2>{{content.content.title}}</h2>
            {{content.content.summary | restify}}
            <p>
              <a href="{{content.url}}">{% trans "Read more" %}</a>
            </p>
          {% endCol %}
        {% endfor %}
      {% endRow %}
    {% endGrid %}
  {% endif %}
{% endblock %}
