{% extends "base.html" %}
{% load i18n %}
{% load carbondesign %}

{% block links %}
  {% UiLink %}
    {% trans "Content" %}

    {% Slot 'submenu' %}
      {% url 'BlogPosting:Index' as url %}
      {% UiLink href=url %}
        {% trans "Article" %}
      {% endUiLink %}
    
      {% url 'Event:Index' as url %}
      {% UiLink href=url %}
        {% trans "Event" %}
      {% endUiLink %}
    
      {% url 'WebPage:Index' as url %}
      {% UiLink href=url %}
        {% trans "Page" %}
      {% endUiLink %}
    
      {% url 'MyFile:Index' as url %}
      {% UiLink href=url %}
        {% trans "File" %}
      {% endUiLink %}
    {% endSlot %}
  {% endUiLink %}

  {% UiLink %}
    {% trans "Front Page" %}

    {% Slot 'submenu' %}
      {% url 'MySlide:Index' as url %}
      {% UiLink href=url %}
        {% trans "Slide" %}
      {% endUiLink %}
    
      {% url 'FrontContent:Index' as url %}
      {% UiLink href=url %}
        {% trans "Featured" %}
      {% endUiLink %}
    {% endSlot %}
  {% endUiLink %}
{% endblock %}


{% block navigation_user %}
  {% UiNavSection %}
    {% if user.is_authenticated %}
      {% url 'account_logout' as url %}
      {% UiNavItem href=url %}
        {% trans "Sign Out" %}
      {% endUiNavItem %}
    {% else %}
      {% url 'account_login' as url %}
      {% UiNavItem href=url %}
        {% trans "Sign In" %}
      {% endUiNavItem %}
    {% endif %}
  {% endUiNavSection %}
{% endblock %}
