{% extends "base_drawer.html" %}
{% load i18n %}
{% load materialweb %}

{% block topbar_left %}
  {% url 'Home' as url %}
  {% trans "Home Page" as label %}
  {% IconButton tag="a" href=url label=label class="material-icons" %}
    home
  {% endIconButton %}
{% endblock %}


{% block drawer_header %}
  {% Drawer_Header %}
    {% Drawer_Title %}
      <a href="{% url 'Home' %}">{{request.site.name}}</a>
    {% endDrawer_Title %}
  {% endDrawer_Header %}
{% endblock %}


{% block drawer_menu_website %}
  {% if user.is_authenticated %}
    {% url 'account_logout' as url %}
    {% List_Item tag="a" href=url tabindex="0" %}
      <i class="fa fa-sign-out-alt"></i>
      {% trans "Sign Out" %}
    {% endList_Item %}
  {% else %}
    {% url 'account_login' as url %}
    {% List_Item tag="a" href=url tabindex="0" %}
      <i class="fa fa-sign-in-alt"></i>
      {% trans "Sign In" %}
    {% endList_Item %}
  {% endif %}
{% endblock %}


{% block footer %}{% endblock %}
