{% extends "base.html" %}
{% load i18n %}
{% load materialweb website %}

{% block body %}
<body class="mdc-typography has-drawer {% block body_classes %}{% endblock %}">
  {% TopAppBar %}
    {% TopAppBar_Left %}
      {% block topbar_left %}
        {% url 'Home' as url %}
        {% trans "Home Page" as label %}
        {% IconButton tag="a" href=url label=label class="material-icons" %}
          home
        {% endIconButton %}
      {% endblock %}

      {% TopAppBar_Title tag="h1" %}
        {% if title_content %}
          {{ title_content }}
        {% else %}
          <img src="/assets/img/logo.png" width="40" class="appbar-logo">
          {{request.site.name}}
        {% endif %}
      {% endTopAppBar_Title %}
    {% endTopAppBar_Left %}

    {% block topbar_right_wrapper %}
      {% TopAppBar_Right id="topbar-right-menu" %}
        {% block topbar_right %}{% endblock %}
        {% TopAppBar_Menu class="material-icons" %}menu{% endTopAppBar_Menu %}
      {% endTopAppBar_Right %}
    {% endblock %}
  {% endTopAppBar %}

  {% Drawer mode="modal" %}
    {% block drawer_header %}
      {% Drawer_Header %}
        {% Drawer_Title %}
          <img src="/assets/img/logo.png" width="40" class="appbar-logo">
          {% block drawer_title %}
            {{request.site.name}}
          {% endblock %}
        {% endDrawer_Title %}
      {% endDrawer_Header %}
    {% endblock %}
    {% Drawer_Content %}
      {% block drawer %}{% endblock %}

      {% List_Divider tag="div" %}
      {% List_Group tag="div" %}
        {% List_Header tag='h6'%}
          {% trans "Website" %}
        {% endList_Header %}
        {% block drawer_menu_website %}{% endblock %}
      {% endList_Group %}
    {% endDrawer_Content %}
  {% endDrawer %}

  <div id="page-wrapper">
    <main class="mdc-top-app-bar--fixed-adjust">
      <div class="mdc-layout-grid">
        {% if messages %}
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12">
              {% flash_messages messages DEFAULT_MESSAGE_LEVELS.DEBUG DEFAULT_MESSAGE_LEVELS.WARNING as msgs %}
              {% for msg in msgs %}
                {% Snackbar %}
                  {% Snackbar_Content %}{{msg}}{% endSnackbar_Content %}
                {% endSnackbar %}
              {% endfor %}

              {% flash_messages messages DEFAULT_MESSAGE_LEVELS.WARNING DEFAULT_MESSAGE_LEVELS.ERROR as msgs %}
              {% for msg in msgs %}
                {% Banner %}
                  {% Banner_Content %}
                    {% Banner_Text %}{{msg}}{% endBanner_Text %}
                  {% endBanner_Content %}
                  {% Banner_Actions %}
                    {% Button type="button" class="mdc-banner__primary-action" %}
                      {% trans "Close" %}
                    {% endButton %}
                  {% endBanner_Actions %}
                {% endBanner %}
              {% endfor %}

              {% flash_messages messages DEFAULT_MESSAGE_LEVELS.ERROR as msgs %}
              {% if msgs %}
                <aside role="alert">
                  <h2>Messages:</h2>
                  <ul>
                    {% for msg in msgs %}
                      <li>{{msg}}</li>
                    {% endfor %}
                  </ul>
                </aside>
              {% endif %}
            </div>
          </div>
        {% endif %}

        <div class="mdc-layout-grid__inner">
          {% block content %}
            <div class="mdc-layout-grid__cell">
              <p>Under construction.</p>
            </div>
          {% endblock %}
        </div>
      </div>
      {% block jscontent %}
        <div id="js_app"></div>
      {% endblock %}
    </main>
    {% block extra_body %}{% endblock %}
    {% block footer %}{% include "website/footer.html" %}{% endblock %}
  </div>
  <div id="js_modal"></div>
</body>
{% endblock %}
