{% extends "base.html" %}
{% load i18n %}
{% load carbondesign %}

{% block navigation_all_apps %}
  {% UiNavSection %}
    {% url 'BlogPosting:Index' as url %}
    {% UiNavItem href=url %}
      {% trans "Articles" %}
    {% endUiNavItem %}
  
    {% url 'WebPage:Index' as url %}
    {% UiNavItem href=url %}
      {% trans "Pages" %}
    {% endUiNavItem %}
  
    {% url 'MyFile:Index' as url %}
    {% UiNavItem href=url %}
      {% trans "Files" %}
    {% endUiNavItem %}
  
    {% url 'MySlide:Index' as url %}
    {% UiNavItem href=url %}
      {% trans "Slides" %}
    {% endUiNavItem %}
  
    {% url 'FrontContent:Index' as url %}
    {% UiNavItem href=url %}
      {% trans "Front Contents" %}
    {% endUiNavItem %}
  {% endUiNavSection %}
{% endblock %}


{% block navigation_user %}
  {% UiNavSection %}
    {% if user.is_authenticated %}
      {% url 'account_logout' as url %}
      {% UiNavItem href=url %}
        {% trans "Sign Out" %}
      {% endUiNavItem %}
    {% else %}
      {% url 'account_login' as url %}
      {% UiNavItem href=url %}
        {% trans "Sign In" %}
      {% endUiNavItem %}
    {% endif %}
  {% endUiNavSection %}
{% endblock %}
