{% spaceless %}

  {% load i18n static %}
  {% load website carbondesign %}

  {% captureas title_content %}{% spaceless %}
    {% block head_title %}{% endblock %}
  {% endspaceless %}{% endcaptureas %}

<!DOCTYPE html>
{% endspaceless %}
<html {% block html_attrs %}{% endblock %}>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {% spaceless %}
    <title>
      {% if title_content %}{{ title_content }} - {% endif %}
      {{ request.site.name }}
    </title>
  {% endspaceless %}
  <link rel="shortcut icon" href="/favicon.ico">
  {% block head_meta %}{% endblock %}
  {% block head_styles %}{% stylesheets %}{% endblock %}
  <script src="{{STATIC_URL}}jsi18n/{{ LANGUAGE_CODE }}/djangojs.js"></script>
  {% block head_scripts %}{% javascripts %}{% endblock %}
</head>
<body class="{% block body_classes %}{% endblock %}">
  {% block body %}
    {% url 'Home' format='html' as url %}
    {% UiShell label=request.site.name href=url %}
      {% Slot 'title_prefix' %}
        <img src="/assets/img/logo.png" height="32" class="d-inline">
      {% endSlot %}

      {% Slot 'navigation' %}
        <img src="/assets/img/logo.png" width="64" class="appbar-logo">

        {% block navigation_app %}{% endblock %}
        {% block navigation_all_apps %}{% endblock %}
        {% block navigation_site %}{% endblock %}
        {% block navigation_user %}{% endblock %}
      {% endSlot %}

      {% Slot 'links' %}
        {% block links %}{% endblock %}
      {% endSlot %}

      {% Slot 'actions' id="uishell-actions" %}{% endSlot %}

      {% for msg in messages %}
        {% Notification mode='toast' variant=msg.level %}
          {% NotificationSubtitle %}
            {{msg.message}}
          {% endNotificationSubtitle %}
        {% endNotification %}
      {% endfor %}

      {% block breadcrumb %}{% endblock %}

      {% block banner %}{% endblock %}
      <main>
        {% block content %}
          <p>Under construction.</p>
        {% endblock %}
        {% block jscontent %}<div id="js_app"></div>{% endblock %}
      </main>
      {% block extra_body %}{% endblock %}
    {% endUiShell %}
  {% endblock %}
  {% block footer %}{% endblock %}
  <div id="js_modal-1">{% block jsmodal_1 %}{% endblock %}</div>
  <div id="js_modal-2">{% block jsmodal_2 %}{% endblock %}</div>
  <div id="js_modal-3">{% block jsmodal_3 %}{% endblock %}</div>
</body>
