{% extends "base.html" %}
{% load i18n %}
{% load carbondesign %}

{% block navigation_all_apps %}
  {% UiNavSection %}
    {% UiNavItem %}
      {% trans "Content" %}

      {% Slot 'submenu' %}
        {% url 'WebPage:Index' as url %}
        {% UiNavItem href=url %}
          {% trans "Page" %}
        {% endUiNavItem %}

        {% url 'BlogPosting:Index' as url %}
        {% UiNavItem href=url %}
          {% trans "Article" %}
        {% endUiNavItem %}
    
        {% url 'Event:Index' as url %}
        {% UiNavItem href=url %}
          {% trans "Event" %}
        {% endUiNavItem %}
    
        {% url 'MyFile:Index' as url %}
        {% UiNavItem href=url %}
          {% trans "File" %}
        {% endUiNavItem %}
      {% endSlot %}
    {% endUiNavItem %}

    {% UiNavItem %}
      {% trans "Front Page" %}

      {% Slot 'submenu' %}
        {% url 'MySlide:Index' as url %}
        {% UiNavItem href=url %}
          {% trans "Slide" %}
        {% endUiNavItem %}
      
        {% url 'FrontContent:Index' as url %}
        {% UiNavItem href=url %}
          {% trans "Featured" %}
        {% endUiNavItem %}
      {% endSlot %}
    {% endUiNavItem %}
  {% endUiNavSection %}
{% endblock %}


{% block navigation_user %}
  {% UiNavSection %}
    {% if user.is_authenticated %}
      {% url 'account_logout' as url %}
      {% UiNavItem href=url %}
        {% trans "Sign Out" %}
      {% endUiNavItem %}
    {% else %}
      {% url 'account_login' as url %}
      {% UiNavItem href=url %}
        {% trans "Sign In" %}
      {% endUiNavItem %}
    {% endif %}
  {% endUiNavSection %}
{% endblock %}
