{% extends "base_drawer.html" %}
{% load i18n %}
{% load materialweb %}

{% block topbar_left %}
  {% url 'Home' as url %}
  {% trans "Home Page" as label %}
  {% IconButton tag="a" href=url label=label class="material-icons" %}
    home
  {% endIconButton %}
{% endblock %}


{% block drawer_menu_main %}
  {% url 'BlogPosting:Index' as url %}
  {% List_Item tag="a" href=url tabindex="0" %}
    {% List_Image class="material-icons" %}
      toc
    {% endList_Image %}
    {% List_Text %}
      {% trans "Articles" %}
    {% endList_Text %}
  {% endList_Item %}

  {% url 'WebPage:Index' as url %}
  {% List_Item tag="a" href=url tabindex="1" %}
    {% List_Image class="material-icons" %}
      toc
    {% endList_Image %}
    {% List_Text %}
      {% trans "Pages" %}
    {% endList_Text %}
  {% endList_Item %}

  {% url 'MyFile:Index' as url %}
  {% List_Item tag="a" href=url tabindex="2" %}
    {% List_Image class="material-icons" %}
      toc
    {% endList_Image %}
    {% List_Text %}
      {% trans "Files" %}
    {% endList_Text %}
  {% endList_Item %}

  {% url 'MySlide:Index' as url %}
  {% List_Item tag="a" href=url tabindex="2" %}
    {% List_Image class="material-icons" %}
      toc
    {% endList_Image %}
    {% List_Text %}
      {% trans "Slides" %}
    {% endList_Text %}
  {% endList_Item %}
{% endblock %}


{% block drawer_menu_website %}
  {% if user.is_authenticated %}
    {% url 'account_logout' as url %}
    {% List_Item tag="a" href=url tabindex="30" %}
      {% List_Image class="fa fa-sign-out-alt" %}
      {% endList_Image %}
      {% List_Text %}
        {% trans "Sign Out" %}
      {% endList_Text %}
    {% endList_Item %}
  {% else %}
    {% url 'account_login' as url %}
    {% List_Item tag="a" href=url tabindex="30" %}
      {% List_Image class="fa fa-sign-in-alt" %}
      {% endList_Image %}
      {% List_Text %}
        {% trans "Sign In" %}
      {% endList_Text %}
    {% endList_Item %}
  {% endif %}
{% endblock %}


{% block footer %}{% endblock %}
