{% extends "base_drawer.html" %}
{% load i18n %}
{% load materialweb %}

{% block topbar_left %}
  {% url 'Home' as url %}
  {% trans "Home Page" as label %}
  {% IconButton tag="a" href=url label=label class="material-icons" %}
    home
  {% endIconButton %}
{% endblock %}


{% block drawer_menu_website %}
  {% if user.is_authenticated %}
    {% url 'account_logout' as url %}
    {% List_Item tag="a" href=url tabindex="30" %}
      {% List_Content type="image" class="fa fa-sign-out-alt" %}
      {% endList_Content %}
      {% List_Content %}
        {% trans "Sign Out" %}
      {% endList_Content %}
    {% endList_Item %}
  {% else %}
    {% url 'account_login' as url %}
    {% List_Item tag="a" href=url tabindex="30" %}
      {% List_Content type="image" class="fa fa-sign-in-alt" %}
      {% endList_Content %}
      {% List_Content %}
        {% trans "Sign In" %}
      {% endList_Content %}
    {% endList_Item %}
  {% endif %}
{% endblock %}


{% block footer %}{% endblock %}
